.cell {
  font-size: 12px;
  text-align: center;
  line-height: 26px;
  height:26px;
  width:26px;
  border-style:solid;
  border-width:1px;
  margin: 1px 1px 1px 1px;
  background-color:#000;
  color:#FFF;
  display:inline;
  float:left;
}

.redBorder {
  border-color: red;
}

.blackBorder {
  border-color: black;
}

.row {
  clear:both;
}


#grid {
  margin: 20px;
}
